! CarbonTracker Data Assimilation Shell (CTDAS) Copyright (C) 2017 Wouter Peters. 
! Users are recommended to contact the developers (wouter.peters@wur.nl) to receive
! updates of the code. See also: http://www.carbontracker.eu. 
!
! This program is free software: you can redistribute it and/or modify it under the
! terms of the GNU General Public License as published by the Free Software Foundation, 
! version 3. This program is distributed in the hope that it will be useful, but 
! WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
! FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. 
!
! You should have received a copy of the GNU General Public License along with this 
! program. If not, see <http://www.gnu.org/licenses/>. 

!!! Info for the CarbonTracker data assimilation system

! For our case, 2*grid size + 8
nparameters        : {nregs*max(lambdas)+cfg.CTDAS_nboundaries}
dir.icon_sim       : {cfg.case_root}

! ICOS stuff
datadir            : {cfg.case_root / "global_inputs" / "ICOS"}
obs.input.dir      : {cfg.case_root / "global_inputs" / "ICOS"}
obspack.input.dir  : {cfg.case_root / "global_inputs" / "ICOS"}

! OCO2 stuff
obs.column.input.dir       : {cfg.case_root / "global_inputs" / "OCO2"}
obs.column.ncfile          : OCO2_<YYYYMMDD>_ctdas.nc
mdm.calculation            : 0.015
sigma_scale                : 0.5
output_prefix              : ICON-ART-UNSTR
icon_grid_path             : {cfg.input_files_scratch_dynamics_grid_filename}
tracer_optim               : TRCO2_A
obs.column.footprint_samples_dim : 1